/* default.css */
@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#logo .logo{
	background:url(/img/5teamlibrary.jpg) no-repeat center;
	background-size:cover;
	height:50px;
	width:70px;
	cursor:pointer;
}
#copyright ul .logo2{
	background:url(/img/5teamlibrary2.jpg) no-repeat center;
	background-size:cover;
	height:50px;
	width:250px;
	cursor:pointer;
}
.btitl{
	width:400px;
}
.bsubt{
	width:400px;
}
.bvolu{
	width:50px;
}
.bwrit{
	width:250px;
}
.bpubl{
	width:250px;
}