<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MovieMemberDao 인터페이스 맵핑 정의 -->
<mapper namespace="com.movieAndgame.Dao.MovieMemberDao">
	<!-- 로그인 쿼리 -->
	<select id="login" resultType="com.movieAndgame.Dto.MovieMember"
		parameterType="com.movieAndgame.Dto.MovieMember">
			select email, name, tel, birth_year, birth_month
			from movie_member
			where email=#{email} and password=#{password}
	</select>
	<!-- 이메일 조회 쿼리 -->
	<select id="findAllEmail" resultType="string">
		select email from movie_member;
	</select>
	<!-- 회원 추가 쿼리 -->
	<insert id="insert" parameterType="com.movieAndgame.Dto.MovieMember">
		insert into movie_member(email, password, name, tel, birth_year, birth_month)
			values(#{email}, #{password}, #{name}, #{tel}, #{birthYear}, #{birthMonth})
	</insert>

</mapper>