<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.thymeleaf/layout"
	layout:decorate="~{game/default}">
	
<head>
	<title layout:fragment="title">로그인</title>
</head>
<body>

	<div layout:fragment="main" id="main">
		<div id="main">
			<form method="post" th:action="@{/game/signIn}" th:object="${gameMember}">
				<div id="formData">
					<div class="inputField">
						<input type="text" th:field="*{email}">
						<label th:for="email">이메일</label>
					</div>
					<div class="inputField">
						<input type="password" th:field="*{password}">
						<label th:for="password">비밀번호</label>
					</div>
					<div class="inputField">
						<input type="text" th:field="*{username}">
						<label th:for="username">닉네임</label>
					</div>
					<div class="loginBt">
						<button>로그인</button>
					</div>
				</div>
			</form>
			
			<div id="forget_new">
				<a href="">아이디/비밀번호찾기</a>
				<a href="/game/signUp">회원가입</a>
			</div>
		</div>
	</div>
	
</body>
</html>