<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
	<title layout:fragment="title">도서관리화면</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>
	<div layout:fragment="main" id="main">
		<h2>리뷰 작성</h2>	
		<form method="post" action="/bookindex" th:object="${BkDTO}">
			제목 : <input type="text" th:field="*{btitl}"><br>
			이미지 : <input type="file" th:field="*{bimg}"><br>
			<button>입력</button>
		</form>
	</div>

	
</html>