<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFrag" id="header">
		<div id="nav">
			<ul id="menuList">
				<li> <a href=""><span></span><span></span><span></span><span></span>상영영화</a> </li>
				<li> <a href=""><span></span><span></span><span></span><span></span>예정영화</a> </li>
				<li> <a href=""><span></span><span></span><span></span><span></span>시사회</a> </li>
				<li> <a href="/movie/review">생성후기</a> </li>
			</ul>
			<div id="userAlogo">
				<div class="userbox">
					<span class="loginLink">
						<a th:href="@{/movie/login}">로그인</a>
					</span>
					<span class="userServic">고객센터</span>
				</div>
				<div class="logo"></div>
			</div>
		</div>
	</div>
</html>